.App {
  text-align: center;
}

div.noPadding {
    padding-left: 0;
    padding-right: 0;
}

div.headerLeftPadding {
    padding-left: auto;
    padding-right: 0;
}

div.headerRightPadding {
    padding-left: 0;
    padding-right: 0;
}

div.menuPadding {
    padding-left: auto;
    padding-right: auto;
}

div.noMargin {
    margin-left: 0;
    margin-right: 0;
}
