:root{
  font-size: 14px;
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  border-radius: 2px;
}

.btn-small {
  border-radius: 1px;
}

.btn-large {
  border-radius: 3px;
}

.form-control {
  border-radius: 2px;
}

.card {
  border-radius: 1px;
}

.card-border-error {
  border: 3px solid rgba(255, 0, 0, 1);
}

.nav-link-custom {
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.nav-link-custom:hover {
  background-color: darkgrey;
}

.icon-link-custom:hover {
  cursor : pointer;
}

.menu-link-custom-active {
  background-color: lightblue;
}

.menu-link-custom-active:hover {
  background-color: aquamarine;
}

.menu-link-custom-inactive {
}

.menu-link-custom-inactive:hover {
  background-color: aquamarine;
}